@{
    Layout = null;
    ViewData["Title"] = "upload";
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>UploadiFive Test</title>
    <script src="~/lib/jquery/jquery-1.8.3.js"></script>
    <script src="~/lib/uploadify/jquery.uploadify.js"></script>
    <link href="~/lib/uploadify/uploadify.css" rel="stylesheet" />
    <style type="text/css">
        body {
            font: 13px Arial, Helvetica, Sans-serif;
        }
    </style>
</head>
<body>
    <h1>Uploadify Demo</h1>
    <form>
        <div id="queue"></div>
        <input id="file_upload" name="file_upload" type="file" multiple="true">
    </form>
    <script type="text/javascript">
            $(function () {
                $('#file_upload').uploadify({
                    'formData': {
                        'timestamp': '000000',
                        'token': '00000'
                    },
                    'swf': '@Url.Content("~/lib/uploadify/uploadify.swf")',
                    'uploader': '@Url.Action("Uploadify", "Upload")'
                });
            });
    </script>
</body>
</html>